@import "partials/variables.scss";
@import "~bootstrap/dist/css/bootstrap.css";

header{
    .container-lg>img{
        width: 85px;
    }
    .navbar{
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .navbar-nav>a{
        color: $fontColor;
        line-height: 100px;
        text-transform: uppercase;
        font-size: 0.8rem;
        &:hover{
            border-bottom: 5px solid $brandColor;
            color: $brandColor; 
        }
    }
}

.jumbotron {
    width: 100%;
    background-image: url(/images/jumbotron.jpg);
    height: 500px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

main{
    .bg-main{
        background-color: $fontColor;
    }
    .bg-sec{
        background-color: $brandColor;
    }
    .my_title{
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        padding: 10px;
        top: -28px;
        left: 0;
        background-color: $brandColor;
    }
    .comic-card img{
        object-fit: cover;
        height: 200px;
        width: 100%;
        object-position: top;
    }
    .my_button{
        background-color: $brandColor;
        padding: 10px 50px ; 
        align-self: center;
        &:hover{
            cursor: pointer;
        }
    }
}