@import "partials/variables.scss";
@import "~bootstrap/dist/css/bootstrap.css";

header{
    .container-lg>img{
        width: 85px;
    }
    .navbar{
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .navbar-nav>a{
        color: $fontColor;
        line-height: 100px;
        text-transform: uppercase;
        font-size: 0.8rem;
        &:hover{
            border-bottom: 5px solid $brandColor;
            color: $brandColor; 
        }
    }
}

.jumbotron {
    width: 100%;
    background-image: url(/images/jumbotron.jpg);
    height: 500px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

main{
    .bg-main{
        background-color: $fontColor;
    }
    .bg-sec{
        background-color: $brandColor;
    }
    .my_title{
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        padding: 10px;
        top: -28px;
        left: 0;
        background-color: $brandColor;
    }
    .comic-card img{
        object-fit: cover;
        height: 200px;
        width: 100%;
        object-position: top;
    }
    .my_button{
        background-color: $brandColor;
        padding: 10px 50px ; 
        align-self: center;
        &:hover{
            cursor: pointer;
        }
    }
    .comic-card{
        img{
            object-fit: cover;
            height: 200px;
            width: 100%;
            object-position: top;
          }
    }
}

footer{
    .bg-main{
        background-image: url(/images/footer-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-height: 500px;
        z-index: -1;
        overflow-y: hidden;
    }
    .bg-sec{
        background-color: $bgFooter;
        z-index: 1;
    }
    .footer-li{
        padding-left: 0px;
        margin-left: 0px;
    }
    ul{
        list-style: none;
        padding-left: 0px; 
        li{
            padding: 5px 0;
        }
    }
    .bg-logo{
        overflow-y: hidden;
        height: 100%;
        img{
            height: 600px;
            transform: translateY(-50px);
        }
    }
    a{
        color: lightgrey;
        text-decoration: none;
    }
    .my_button{
        color: white;
        border: 2px solid $brandColor;
        padding: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    .my_cta{
        color: $brandColor;
    }
}